body{
margin:0px;
background-image: url("BackgroundJPG4.png");
background-attachment: fixed;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
transition: all 0.5s;
transition-timing-function: ease-in;
}

#space1{
position: fixed;
top: 0px;
bottom: 0px;
left: 0px;
Width: 120px;
border-right: 1px solid #ACACAC;
background: linear-gradient(to bottom,  #CDE5E5, #E9E9E9);
overflow: hidden;
z-index: 2;
transition: width 0.5s;
transition-delay: 0.3s;
transition-timing-function: ease-in-out;
}

ul{
font-variant: small-caps;
font-size: 17px;

}

ul li{
transition: all 0.8s;
transition-delay: 0.2s;
transition-timing-function: ease-in-out;
}




ul#index{
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
}

ul#index li{
padding-top: 0.5em;
height: 2.0em;
border-bottom: 1px dotted #ACACAC;
color: #333333;
}

ul#index a{
margin-top: 20px;
margin-left: 14px;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
width: 50px;
}

#space2{
float: right;
left: 200px;
background: #FFC476;
position: absolute;
}

#space3{
position: fixed;
top: 0px;
bottom: 0px;
right: 0px;
width: 220px;
background: ;
background: linear-gradient(to left, #CDE5E5, #E6E6E6);
border-left: 1px solid #ACACAC;
transition: all 0.2s;
transition-delay: 0.2s;
transition-timing-function: ease-in-out;
}




#system{
position: absolute;
top: 0px;
bottom: 0px;
right: 0px;
left: 5px;
bottom: 5px;
}

#sun{
position: absolute;
top: 0px;
height: 120px;
right: 0px;
left: 0px;
border-left: 1px solid #ACACAC;
background: linear-gradient(to top right, #E6E6E6, #DDEEEE);
font-size: 17px;
}

.tab{
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
width: 2px;
background: red;
}

#loginbox{
position: absolute;
top: 0px;
height: 2.6em;
left: 1px;
right: 0px;
border-bottom: 1px solid #ACACAC;
border-left: 1px solid #ACACAC;
background: linear-gradient(to left,  #CDE5E5, #EEF6F6);
}

#logo{
position: absolute;
top: 36px;
left: 1px;
height: 3em;
width: 3.8em;
border: 1px solid #ACACAC;
background: #DDEEEE;
}

#version{
position: absolute;
top: 36px;
left: 103px;
height: 3em;
width: 12em;
border: 1px solid #ACACAC;
background: #DDEEEE;
}

#system2{
position: absolute;
top: 120px;
left: 0px;
right: 150px;
height: 400px;
overflow: visible;
}

#stars{
position: absolute;
top: 120px;
right: 0px;
width: 150px;
height: 750px;
background: #DDEEEE;
}

#moon{
position: absolute;
top: 0px;
height: 200px;
left: 0px;
right: 0px;
/* background: #89CA9D; */
}


.canvas{
position: absolute;
top:2px;
bottom: 1px;
right: 2px;
left: 2px;
border: 1px solid #ACACAC;
background: white;
overflow: hidden;
}



#starCanvas{
top: 0px;
right: 2px;
left: 1px;
}

#sp3Bar{
position: absolute;
top: 0px;
right: 0px;
left: 0px;
height: 20px;
border-bottom: 1px solid #ACACAC;
background: linear-gradient(to left,  #CDE5E5, #EEF6F6);
}

#sp3Win{
position: absolute;
top: 100px;
bottom: 0px;
left: 0px;
width: 100px;
}



#inButton1{
position: absolute;
top: 3px;
bottom: 3px;
left: 3px;
right: 3px;
transition: all 0.8s;
transition-timing-function: ease-in-out;
background: linear-gradient(to left,  #BCDCDC, #CDE5E5);
}

#button1{
position: absolute;
top: 0px;
bottom: 0px;
right: 0px;
width: 2em;
border-left: 1px dotted #ACACAC;
background: linear-gradient(to left,  #BCDCDC, #CDE5E5);

/* linear-gradient(to right,  #CCE5E5, #BCDCDC); */
}

#starBar{
position: absolute;
top: 0px;
right: 0px;
left: 0px;
height: 20px;
border-bottom: 1px dotted #ACACAC;
background: linear-gradient(to left,  #CDE5E5, #EEF6F6);
}

.slate1{
position: absolute;
height: 87px;
top: 32px;
right: 0px;
left: 0px;
border-left: 1px solid #ACACAC;
background: linear-gradient(to right, #3D7676, #E6E6E6);
}

#navSlate{
height: 26px;
top: 0px;
}

#navbar{
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
border-left: 1px solid #ACACAC;
border-right: 1px solid #ACACAC;
border-top: 1px solid #ACACAC;
background: #E6E6E6;
}

#navbar2{
position: absolute;
top: 0px;
bottom: 0px;
right: 1px;
left: -1px;
border-bottom: 1px solid #ACACAC;
background: #E6E6E6;
overflow: visible;
}


ul.navbar{
float: left;
margin-top: 1px;
margin-left: 1px;
margin-bottom: 1px;
padding: 0px;
margin-bottom: 0px;
background: linear-gradient(to left,  #DDEEEE, #EEF6F6);
}

ul.navbar li{
list-style-type:none;
float:left;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
overflow: hidden;
border-right: 1px dotted #ACACAC;
border-top: 1px solid #ACACAC;
border-bottom: 1px solid #ACACAC;
padding-left: 2px;
padding-right: 2px;
color: #1A1A1A;
background: linear-gradient(to left,  #DDEEEE, #EEF6F6);
}


ul.dropBar{
position: absolute;
top: 1px;
left: 1px;
padding: 0px;
z-index: 1;
margin: 0px;
background: linear-gradient(to left,  #DDEEEE, #EEF6F6);
}

ul.dropBar li{
float:left;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
list-style-type:none;
overflow: hidden;
border-right: 1px transparent #ACACAC;
border-left: 1px transparent #ACACAC;
border-bottom: 1px transparent #ACACAC;
padding-left: 2px;
padding-right: 2px;
color: #333333;
background: linear-gradient(to left,  #DDEEEE, #EEF6F6);
}

/*
.dropVis li{
visibility: hidden;
display: none;
}
*/

.dropButton{
position: absolute;
right: 0px;
top: 1px;
bottom: 1px;
background: linear-gradient(to right,  #CCE5E5, #BCDCDC);
width: 21px;
border-right: 1px solid #ACACAC;
border-top: 1px solid #ACACAC;
border-bottom: 1px solid #ACACAC;
}

.dropIn{
position: absolute;
right: 1px;
left: 1px;
top: 1px;
bottom: 1px;
background: linear-gradient(to right,  #CCE5E5 #BCDCDC);
transition: all 0.4s;
transition-delay: 0.2s;
transition-timing-function: ease-in-out;
}




/*ul.navbar2 li{
list-style-type:none;
display:inline;
float:left;
font-size:13px;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
overflow: hidden;
border-right: 1px dotted #ACACAC;
border-bottom: 1px solid #ACACAC;
padding-left: 2px;
}*/

#input{
border-left: 1px solid #ACACAC;
}

#dataset{
border-left: 1px solid #ACACAC;
}

#oldkent{
border-left: 1px solid #ACACAC;
}


#output{
border-right: 1px solid #ACACAC;
}

#notes{
border-right: 1px solid #ACACAC;
}

#navSlate1{
overflow: hidden;
display: inline;
}

#navSlate2{
margin-top: 0px;
background: linear-gradient(to right,  #DDEEEE, #EEF6F6);
}

#navSlate2 li{
margin-top: 0px;
border-top: 0px;
}



.rowTypeA{
position: absolute;
top: 40px;
left: 0px;
right: 0px;
height: 4px;
}



#panSlate{
top: 50px;
}

.tabRight{
position: absolute;
top: 0px;
bottom: 0px;
right: 0px;
width: 1px;
border-left: 1px solid #ACACAC;
border-right: 1px solid #ACACAC;
background: #E6E6E6;
}




.panel1{
position: absolute;
right: 0px;
left: 1px;
top: 0px;
height: 25px;
border-bottom: 1px solid #ACACAC;
border-right: 1px solid #ACACAC;
}

.panel2{
position: absolute;
top: 0px;
bottom: 0px;
left: -1px;
right: 1px;
border-top: 1px solid #ACACAC;
}

#win1{
height: 140px;
background: linear-gradient(to right, #E6E6E6, #D7E9E9);
}

.window{
position: absolute;
top: 22px;
height: 110px;
right: 0px;
left: 1px;
background: #DEEDED;
border-left: 1px solid #ACACAC;
}

.underline1{
position: absolute;
height: 2px;
bottom: 0px;
left: 1px;
right: 0px;
border-right: 1px solid #ACACAC;
border-top: 1px solid #ACACAC;
background: linear-gradient(to right, #3D7676, #E6E6E6);
}

.underline2{
position: absolute;
top: 0px;
bottom: 0px;
right: 1px;
left: -1px;
border-bottom: 1px solid #ACACAC;
background: linear-gradient(to right, #3D7676, #E6E6E6);
}

#earth{
position: absolute;
top: 250px;
left: 0px;
right: 0px;
height: 300px;
/* background: #D5FFFF; */
}

#row2{
top: 0px;
}

#earSlate{
top: 4px;
}

#win2{
height: 800px;
top: 23px;
background: linear-gradient(to right, #E6E6E6, #DDEEEE);
}

#ozone{
position: absolute;
top: 550px;
left: 0px;
right: 0px;
height: 6em;
/* background: #FFFFFF; */
}

#endRow{
top: 0px;
}

#endSlate{
top: 4px;
height: 5em;
border-top: 1px solid #ACACAC;
background: linear-gradient(to right, #3D7676, #E6E6E6);
}

#endLeft{
position: absolute;
top: 4px;
bottom: -1px;
width: 1px;
right: 0px;
border-right: 1px solid #ACACAC;
background: #E6E6E6;
}

#endCanvas{
position: absolute;
top: 6px;
bottom: 1px;
right: 2px;
left: 2px;
border: 1px solid #ACACAC;
background: #FFFFFF;
}