a:link {
    color: #1A1A1A; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #1A1A1A;  
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #458787;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #1A1A1A; 
    background-color: transparent;
    text-decoration: none;
}