h1{
margin: 5px 2px 0px 3px;
padding: 3px 5px 3px 5px;
font-size: 18px;
font-color: #333333;
border: 1px solid #ACACAC;
font-weight: normal;
font-variant: small-caps;
background: #FFFFFF;
}

.textboxB{
float: left;
background: #FFFFFF;
margin: 2px;
padding-bottom: 10px;
border: 1px solid #ACACAC;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
font-size: 14px;
}

.textboxC{
float: left;
background: #FFFFFF;
margin: 1px;
padding-bottom: 5px;
border: 1px solid #ACACAC;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
font-size: 14px;
}


.textBorderA{
float: left;
background: #FFFFFF;
margin: 2px 2px 0px 3px;
border: 1px solid #ACACAC;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
font-size: 14px;
overflow: visible;
}

.textBorderB{
float: left;
background: linear-gradient(to right, #3D7676, #E6E6E6);
margin: 3px 2px 0px 3px;
border: 1px solid #ACACAC;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
font-size: 14px;
overflow: visible;
}





.headA{
float: left;
background: linear-gradient(to left,  #CDE5E5, #EEF6F6);
margin: 0px;
width: 100%;
padding: 0px;
border-bottom: 1px dotted #ACACAC;
}

.textA{
float: left;
margin: 8px 8px 0px 10px;
}

.textAP2{
margin-top: 8px;
}

h2{
margin: 2px 7px 2px 7px;
font-size: 17px;
font-color: #333333;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
font-weight: normal;
font-variant: small-caps;
}

h3{
float: left;
margin: 0px;
padding-top: 0.5em;
padding-left: 8px;
font-size: 17px;
font-color: #333333;
font-family: "Century Gothic", Verdana, "Trebuchet MS";
font-weight: normal;
font-variant: small-caps;

}

.pillarList{
float: left;
width: 50%;
}

.pillarList ul{
margin: 0px;
padding-left: 40px;
font-size: 15px;
font-variant: small-caps;
}

.teamList{
float: left;
width: 100%;
margin-top: 8px;
}

.teamList ul{
margin: 0px;
padding-left: 40px;
font-size: 15px;
font-variant: small-caps;
}


.questionList{
float: left;
width: 100%;
margin-top: 3px;
}

.questionList ol{
margin: 0px;
padding-left: 40px;
font-size: 15px;
}

#win2 ol{
padding-left: 30px;
padding-right: 10px;
}

#win2 ol ol{
padding-left: 15px;
}

.sp3Head1{
background: linear-gradient(to left,  #CDE5E5, #EEF6F6);
border: 2px solid #3D7676;
}









