.apic{
float: right;
width: 50%;
margin-right: 0px;
margin-left: 3px;
margin-bottom: 3px;
border: 1px solid #ACACAC;
}

#poster{
position: absolute;
top: 5px;
left: 100px;
right: 100px;
border: 1px solid #ACACAC;
}

.bpic{
border: 1px solid #ACACAC;
}